Package: solrdump
Version: 0.1.2
Section: utils
Priority: optional
Architecture: amd64
Essential: no
Depends: libc6 (>= 2.12)
Maintainer: Martin Czygan <martin.czygan@uni-leipzig.de>
Description: Dump SOLR fields efficiently with cursors.
